html, body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 58px;
    font-weight: 400;
}

h2 {
    font-size: 40px;
    font-weight: 300;
}

h2.section-heading {
    margin: 80px 0;
}

.btn {
    height: 63px;
    line-height: 63px;
    border-radius: 200px;
    padding: 0 50px;
    font-size: 16px;
}

.btn-primary {
    background-color: #0090ff;
    border: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #159aff;
}

/* HEADER */
.navbar-static-top {
    background-color: #fff;
    height: 100px;
    margin-bottom: 40px;
}

.navbar-brand {
    height: 100px;
    line-height: 100px;
    padding-top: 0;
}

.navbar-nav > li > a {
    line-height: 70px;
    font-weight: bold;
    position: relative;
}

.navbar-default .navbar-nav > li.active > a {
    background-color: transparent;
}

.navbar-default .navbar-nav > li.active > a:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav > li.active > a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 3px;
    background-color: #0090ff;
}

/* MAIN SECTION */
.main-heading {
    padding-right: 80px;
}

.main-heading p {
    font-size: 18px;
}

/* AWESOME FEATURES */
#awesome-features dl.new-features {
    font-size: 20px;
    display: flex;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
#awesome-features dl.new-features dt {
    color: #5ad434;
    margin-right: 10px;
}

#awesome-features-list {
    padding-left: 30px;
}

#awesome-features-list dd {
    margin-bottom: 20px;
}

#awesome-features-list dt {
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;
}

#awesome-features-list dt:before {
    content:"\00bb";
    position: absolute;
    left: -30px;
    top: 4px;
    background-color: #0090ff;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
}

/* VIDEO */
#video-section {
    height: 600px;
    display: flex;
    margin: 80px 0;
}

#video-container {
    flex-basis: 50%;
    margin-right: 10px;
    background: #999 url('http://lorempixel.com/600/600/technics/8') center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

#video-container a {
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 70px;
    border: 4px solid #fff;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    line-height: 94px;
    text-align: center;
    padding-left: 10px;
}

#video-container a:hover {
    text-decoration: none;
}

#video-description {
    background-color: #0090ff;
    color: #fff;
    flex-basis: 50%;
    padding: 100px;
    display: flex;
    align-items: center;
}

#video-description h2 {
    max-width: 460px;    
}

#video-description p {
    font-size: 20px;
    line-height: 40px;
    max-width: 460px;
}